@page "/about"

<h1 class="center">About</h1>

<h2>He Puna Taimona</h2>

<p class="block">
    These are New Brighton's famous hot pools. You will have spectacular views outlooking towards the Pacific. A highly popular place especially come the winter time. A great spot to also take in the
    daily rising and setting of the sun.
</p>


<img class="block-img" src="Assets/hepunataimona.jpg" />
<caption class="align">People enjoying the warmth of the hot pools.</caption>
<br />

<h2>The Weekend Market</h2>

<p class="block">
    For some fantastic sights and sounds, come and check out the weekend market. Held every Saturday between 11am and 2pm weather permitting. With over 50 different stalls, you are sure to find an art, craft,
    or something tasty to satisfy your desires.
</p>


<img class="block-img" src="Assets/nbmarket.jpg" />
<caption class="align">A fun day at the Weekend Market.</caption>
<br />

<h2>Surf's Up!</h2>

<p class="block">
    For those looking to get teir feet wet, why not give surfing ago! New Brighton is famous for it's beach after all. Don't have a board! Don't stress! One can easily be hired from the local
    surf supplies shop. They also offer sessions to learn to surf so you know you are in good hands.
</p>


<img class="block-img" src="Assets/nbsurf.jpg" />
<caption class="align">A young man getting ready to hit the waves!</caption>
<br />