@page "/contact"


<h1 class="center">Contact</h1>

<p class="block">For more information about New Brighton reach out to us!</p>

<p class="blockq">
    Thomas King</p>
<p class="blockq">
    0800NBRocks</p>
<p class="blockq">
    thomastheking@gmail.com
</p>

<img class="block-img" src="Assets/paddle_pool.jpg" />
<caption class="align">Kids enjoying a refrshing dip</caption>
<br />



