@page "/"

<h1 class="center">Hello New Brighton!</h1>

<p class="block">New Brighton is a fascinating suburb in Eastern Christchurch. It is famous for being close to the beach where one can look
    out towards the mighty and majoestic Pacific Ocean. You can stroll the promenade or along the pier and enjoy the panoramic 360
    degree views. But there is more to New Brighton than sun, sea, and sumptuous sights. Let us show you everything this amazing
    zone has to offer you!</p>


<a href="https://en.wikipedia.org/wiki/New_Brighton,_New_Zealand" target="_blank"><img class="block-img" src="Assets/nb.jpg" /></a>
<caption class="align">The famous New Brighton Pier</caption>
<br />

<a  href="about">
    <button class="btn btn-primary btn-lg block-img">Click</button>
</a>